<a href="/authors">
  <section class="box">
    <i class="fa fa-user fa-2x"></i>
    <h2>Authors</h2>
  </section>
</a>
<a href="/books">
  <section class="box">
    <i class="fa fa-bookmark fa-2x"></i>
    <h2>Books</h2>
  </section>
</a>

<section class="addForm">
  <h1>Add an Author</h1>
  <section>
    <form action="/addAuthor" method="post">
      <label for="first_name">First Name:</label><br>
      <input type="text" name="first_name" value="" required><br>
      <label for="last_name">Last Name:</label><br>
      <input type="text" name="last_name" value="" required><br>
      <label for="portrait_url">Portrait URL:</label><br>
      <input type="text" name="portrait_url" value="" required><br>
      <label for="bio">Biography:</label><br>
      <textarea name="bio" rows="8" cols="40" required></textarea><br>
      <button type="submit" name="button">Add Author</button>
    </form>
  </section>
</section>
