
<section class="container">
  <section class="authors">
    <img src="http://www.blueforest.com/wordpress/wp-content/uploads/2015/09/Writing-outdoors-1024x683.jpg" alt="Authors" />
    <h1>Authors</h1>
  </section>
  <section class="books">
    <img src="http://www.westminster-church.org/assets/images/library.jpg" alt="Books" />
    <h1>Books</h1>
  </section>
</section>
