<a href="/authors">
  <section class="box">
    <i class="fa fa-user fa-2x"></i>
    <h2>Authors</h2>
  </section>
</a>
<a href="/books">
  <section class="box">
    <i class="fa fa-bookmark fa-2x"></i>
    <h2>Books</h2>
  </section>
</a>

<section class="page">
  <section>
    <h3>{{data.first_name}} {{data.last_name}}</h3>
    <img src="{{data.portrait_url}}" alt="Portrait" />
  </section>
  <section>
    <p>{{data.bio}}</p>
  </section>
</section>
