<a href="/authors">
  <section class="box">
    <i class="fa fa-user fa-2x"></i>
    <h2>Authors</h2>
  </section>
</a>
<a href="/books">
  <section class="box">
    <i class="fa fa-bookmark fa-2x"></i>
    <h2>Books</h2>
  </section>
</a>

<section class="pageB">
  <section>
    <h3>{{data.title}}</h3>
    <h3>{{data.genre}}</h3>
    <img src="{{data.cover_url}}" alt="Cover Url" />
  </section>
  <section>
    <p>{{data.description}}</p>
  </section>
</section>
