$white: hsl(225, 33%, 97%);
$black: hsl(100, 5%, 10%);
$success: hsl(172, 95%, 15%);
$alert: hsl(0, 50%, 50%);
$header: hsl(239, 91%, 14%);
$light-grey: hsl(222, 8%, 86%);
$light-blue: hsla(231, 90%, 56%, 0.81);
