header {
  background-color: $header;
  color: $white;
  font-size: 2rem;
  height: 10vh;
  padding-top: 2rem;
  padding-left: 1rem;
  @include header-text;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  h1{
    width: 100%;
    margin: auto;
    text-align: center;
    @include header-text;
    font-size: 2rem;
    margin-top: 1rem;
    color: $black;
  }
}

.books {
  width: 50%;
  display: inline-block;
  img {
    width: 38vw;
    height: 50vh;
    box-shadow: 4px 4px 14px  hsl(13, 88%, 10%);
  }
}

.authors {
  width: 50%;
  float: left;
  img {
    width: 38vw;
    height: 50vh;
    box-shadow: 4px 4px 14px  hsl(13, 88%, 10%);
  }
}
.flexy {
  display: flex;
}

.bookPage {
  width: 60vw;
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
  margin-left: 20vw;
  line-height: 1.2rem;
  line-height: 1.2rem;
  img {
    width: 15vw;
    height: 40vh;
    padding: .5rem;
  }
  li {
    font-size: 1.5rem;
  }
}
.box {
  width: 20vw;
  height: 15vh;
  background-color: $light-grey;
  display: inline-block;
  margin: 2rem;
  border-radius: 5px;
  i {
    margin-left: 9vw;
    margin-top: 1vh;
    color: $black;
  }
  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    @include header-text;
    font-size: 1.5rem;
    color: $black;
  }
}
.bookCover {
  display: flex;
  margin-bottom: 5rem;
  background: linear-gradient(to bottom right, $light-blue, $white);
  padding: 1rem;
  border-radius: 10px;
}
.bookInfo {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.bookDes {
  margin-top: 5rem;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .fa-pencil {
    color: hsla(227, 91%, 58%, 0.77);
  }
  .fa-times {
    color: rgba(194, 9, 36, 0.9);
  }
}
.addButton {
  width: 55vw;
  height: 3vh;
  padding: 2rem;
  background-color: #236467;
  margin-bottom: 2rem;
  color: $white;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
}
a  {
  text-decoration: none !important;
}
.layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-bottom: 5rem;
  width: 30%;
  img {
    width: 30vw;
    height: 50vh;
  }
  p {
    width: 100%;
    display: block;
  }
}
.addForm {
  width: 40%;
  margin-left: 30rem;
  margin-bottom: 5rem;
  h1{
    @include header-text;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw;
  }
  label{
    @include header-text;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  input {
    width: 20vw;
    height: 3vh;
    margin-bottom: 1rem;
  }
  textarea{
    width: 20vw;
    margin-bottom: 1rem;
  }
  button {
    background-color: #236467;
    color: $white;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .delete {
    background-color: $alert;
    width: 25vw;
  }
}
.deleteForm {
  width: 40%;
  margin-left: 38rem;
  margin-top: -25rem;
  h1{
    @include header-text;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw;
  }
  button {
    background-color: #236467;
    color: $white;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .delete {
    background-color: $alert;
    width: 25vw;
  }
}
.formCenter {
  width: 40%;
  margin-left: 38rem;
  margin-top: -35rem;
  h1{
    @include header-text;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw;
  }
  label{
    @include header-text;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  input {
    width: 20vw;
    height: 3vh;
    margin-bottom: 1rem;
  }
  textarea{
    width: 20vw;
    margin-bottom: 1rem;
  }
  button {
    background-color: #236467;
    color: $white;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .delete {
    background-color: $alert;
    width: 25vw;
  }
}
.page {
  width: 55vw;
  height: 70vh;
  margin: auto;
  line-height: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, $light-blue, $white);
  @include p-text;
  border-radius: 10px;
  box-shadow: 2px 2px 50px 2px rgb(72, 4, 108);
  h3 {
    font-size: 3rem;
  }
  img {
    padding: 1.5rem;
    float: right;
    width: 25vw;
    height: 35vh;
  }
  p {
    margin-top: 3rem;
  }
}
.pageB {
  width: 55vw;
  height: 70vh;
  margin: auto;
  line-height: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, $light-blue, $white);
  @include p-text;
  border-radius: 10px;
  box-shadow: 2px 2px 50px 2px rgb(72, 4, 108);
  h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
  }
  img {
    margin-top: -7rem;
    padding: 1.5rem;
    float: right;
    width: 25vw;
    height: 55vh;
  }
  p {
    margin-top: 3rem;
  }
}
