@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
header {
  background-color: #030444;
  color: #f5f6fa;
  font-size: 2rem;
  height: 10vh;
  padding-top: 2rem;
  padding-left: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

.container {
  width: 80%;
  margin: auto;
  margin-top: 5vh; }
  .container h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1rem;
    color: #191b18; }

.books {
  width: 50%;
  display: inline-block; }
  .books img {
    width: 38vw;
    height: 50vh;
    box-shadow: 4px 4px 14px #300d03; }

.authors {
  width: 50%;
  float: left; }
  .authors img {
    width: 38vw;
    height: 50vh;
    box-shadow: 4px 4px 14px #300d03; }

.flexy {
  display: flex; }

.bookPage {
  width: 60vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
  margin-left: 20vw;
  line-height: 1.2rem; }
  .bookPage img {
    width: 15vw;
    height: 40vh; }

.box {
  width: 20vw;
  height: 15vh;
  background-color: #d8dade;
  display: inline-block;
  margin: 2rem; }
  .box i {
    margin-left: 9vw;
    margin-top: 1vh;
    color: #191b18; }
  .box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #191b18; }

.bookCover {
  display: flex;
  margin-bottom: 5rem; }

.bookInfo {
  width: 80%;
  display: flex;
  flex-wrap: wrap; }

.bookDes {
  margin-top: 5rem; }

.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .icon .fa-pencil {
    color: rgba(50, 93, 245, 0.77); }
  .icon .fa-times {
    color: rgba(194, 9, 36, 0.9); }

.addButton {
  width: 55vw;
  height: 3vh;
  padding: 2rem;
  background-color: #236467;
  margin-bottom: 2rem;
  color: #f5f6fa;
  font-weight: 600;
  font-size: 2rem;
  text-align: center; }

a {
  text-decoration: none !important; }

.layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-bottom: 5rem;
  width: 30%; }
  .layout img {
    width: 30vw;
    height: 50vh; }
  .layout p {
    width: 100%;
    display: block; }

.addForm {
  width: 40%;
  margin-left: 30rem;
  margin-bottom: 5rem; }
  .addForm h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw; }
  .addForm label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem; }
  .addForm input {
    width: 20vw;
    height: 3vh;
    margin-bottom: 1rem; }
  .addForm textarea {
    width: 20vw;
    margin-bottom: 1rem; }
  .addForm button {
    background-color: #236467;
    color: #f5f6fa;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .addForm .delete {
    background-color: #bf4040;
    width: 25vw; }

.deleteForm {
  width: 40%;
  margin-left: 38rem;
  margin-top: -25rem; }
  .deleteForm h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw; }
  .deleteForm button {
    background-color: #236467;
    color: #f5f6fa;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .deleteForm .delete {
    background-color: #bf4040;
    width: 25vw; }

.formCenter {
  width: 40%;
  margin-left: 38rem;
  margin-top: -27rem; }
  .formCenter h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 25vw; }
  .formCenter label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem; }
  .formCenter input {
    width: 20vw;
    height: 3vh;
    margin-bottom: 1rem; }
  .formCenter textarea {
    width: 20vw;
    margin-bottom: 1rem; }
  .formCenter button {
    background-color: #236467;
    color: #f5f6fa;
    width: 20vw;
    height: 8vh;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .formCenter .delete {
    background-color: #bf4040;
    width: 25vw; }

/*# sourceMappingURL=style.css.map */