@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@mixin header-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

@mixin p-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
}
